{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">

        {{! Navigation for Small Screen }}

        <div class="back-to-home">
            <a href="{{@blog.url}}"><i class="fa fa-long-arrow-left fa-2x"></i><h5>{{@blog.title}}</h5></a>
            
        </div> <!-- Small Screen Navigation End -->

    <div class='post-fixed-nav'>
    	{{#if @blog.logo}}<a class="blog-logo-left" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Logo" /></a>{{/if}}
        <h5 style="
    color: white;
    text-align: center;
    font-size: 1.9rem; 
    line-height: 1.5em; 
    font-weight: 400;  letter-spacing: 0;
    font-family: 'Open Sans', sans-serif;
">Miguel Nieva</h5>
<h2 style=" 
    font-size: 1.3rem; 
    line-height: 2.9em; font-weight: 300; font-family: 'Roboto Slab', serif; 
    letter-spacing: 0;
    color: white;
    text-align: center;
">Business Developers</h2>     
        <hr>
        <div class="post-sidebar">


        

    <div class="tags">
        <a class="fn-item active" item_index="1" href="{{@blog.url}}/tag/liderar"><span class="glyphicon glyphicon-fire">&nbsp;&nbsp;</span>Liderar</a>
        <a class="fn-item active" item_index="1" href="{{@blog.url}}/tag/administrar"><span class="glyphicon glyphicon-tasks">&nbsp;&nbsp;</span>Administrar</a>
        <a class="fn-item active" item_index="1" href="{{@blog.url}}/tag/negociar"><span class="glyphicon glyphicon-comment">&nbsp;&nbsp;</span>Negociar</a>
        <a class="fn-item active" item_index="1" href="{{@blog.url}}/tag/experiencias"><span class="glyphicon glyphicon-globe">&nbsp;&nbsp;</span>Experiencias</a>
        <a class="fn-item active" item_index="1" href="{{@blog.url}}/tag/libros"><span class="glyphicon glyphicon-book">&nbsp;&nbsp;</span>Libros</a>
    </div>
    <hr>
    <a class="fn-item active" item_index="1" href="{{@blog.url}}/lectores-elite"><span class="glyphicon glyphicon-envelope">&nbsp;&nbsp;</span>Lectores Élite</a>


        </div>

        {{! Social Menu }}
       <div class="footer-social-menu">
        <div class="footer-social-icons">
            <a href="http://facebook.com/mike.nieva" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="http://twitter.com/mikenieva" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="http://github.com/miguelnieva" target="_blank"><i class="fa fa-github fa-2x"></i></a>
            <a href="http://google.com/+miguelnieva?rel=author" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
            <a href="http://instagram.com/mikenieva" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
            <a href="http://mx.linkedin.com/in/miguelnieva/es" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
        </div> 
    </div>

    </div>


    {{! Each post will be output using this markup }}

    <div class='post-holder'>    
            
        {{! Everything inside the #post tags pulls data from the post }}

        <article class="{{post_class}}">

        {{#post}}

             {{#contentFor "meta"}}
                    <meta property="og:type" content="website" />
                    <meta property="og:url" content="{{url absolute="true"}}" />
                    <meta property="og:title" content="{{title}} - Miguel Nieva" />
                    <meta property="og:site_name" content="{{@blog.title}}" />
                    <meta property="og:description" content="Comunidad de emprendedores, profesionales y desarrolladores de negocios."/>
                    <meta property="fb:profile_id" content="mikenieva" />
                    <meta property="fb:admins" content="mikenieva" />
                {{/contentFor}}
              
            <h1 class="page-title">{{{title}}}</h1>
            
            <section class="post-content">
                <div class="block-socialbuttons">
                    <hr style="border-top: 1px solid #B5B9BA;">
                        <div class="socialbutton facebookbutton">
                            <div class="fb-like" data-href="{{url}}" data-width="100px" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                        </div>

                        <div class="socialbutton twitterbutton">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-via="mikenieva">Tweet</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                                </script>
                        </div>

                        <div class="socialbutton">
                            <script src="//platform.linkedin.com/in.js" type="text/javascript">
                                lang: en_US
                            </script>
                            <script type="IN/Share" data-counter="right"></script>
                        </div>

                        <div class="socialbutton">
                            <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                            <g:plusone></g:plusone>
                        </div>                         


                    </div>
                {{content}}
            </section>

            {{/post}}
    
        </article>   

    </div>
</main>