{{!< default}}

{{#contentFor "meta"}}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{@blog.url}}" />
    <meta property="og:title" content="Miguel Nieva - Business Developer" />
    <meta property="og:site_name" content="{{@blog.title}}" />
    {{#if @blog.logo}}<meta property="og:image" content="{{@blog.logo}}" />{{/if}}
    <meta property="og:description" content="Reflexiones, ideas y opiniones sobre el ámbito del liderazgo, comunidades y negocios web."/>
    <meta property="fb:profile_id" content="mikenieva" />
    <meta property="fb:admins" content="mikenieva" />
{{/contentFor}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">

        {{! Navigation for Small Screen }}

        <div class="back-to-home">
            <a href="{{@blog.url}}"><i class="fa fa-long-arrow-left fa-2x"></i><h5>{{@blog.title}}</h5></a>
            
        </div> <!-- Small Screen Navigation End -->

     <div class='post-fixed-nav'>
      {{#if @blog.logo}}
        <a class="blog-logo-left" href="{{@blog.url}}">
            <img src="{{@blog.logo}}" alt="Logo" />
        </a>
        {{/if}}
        <h5>Miguel Nieva</h5>
        <h2>Business Developers</h2>        
        <div class="footer-social-menu">
            <div class="footer-social-icons">
                <a href="http://facebook.com/miguelnieva.com" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="http://twitter.com/mikenieva" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="http://mx.linkedin.com/in/miguelnieva/es" rel=”author” target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="http://google.com/+miguelnieva?rel=author" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
                <a href="http://github.com/miguelnieva" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                <a href="http://instagram.com/mikenieva" rel=”author” target="_blank"><i class="fa fa-instagram fa-2x"></i></a>      
            </div> 
        </div>
        <hr>
        <div class="post-sidebar"> {{! Facebook Likebox }}   
         <div class="tags">
        <a class="fn-item active" item_index="1" href="{{@blog.url}}/tag/liderar"><span class="glyphicon glyphicon-fire">&nbsp;&nbsp;</span>liderar</a>
        <a class="fn-item active" item_index="1" href="{{@blog.url}}/tag/experiencias"><span class="glyphicon glyphicon-globe">&nbsp;&nbsp;</span>Experiencias</a>
        <a class="fn-item active" item_index="1" href="{{@blog.url}}/tag/libros"><span class="glyphicon glyphicon-book">&nbsp;&nbsp;</span>Libros</a>
        </div>
        <hr>
        <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fmiguelnieva.com&amp;width=270&amp;height=200&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=539759132770284" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:258px;" allowTransparency="true"></iframe>
        </div>
    </div>

    {{! Each post will be output using this markup }}

    <div class='post-holder'>    
           <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
          
        {{! Everything inside the #post tags pulls data from the post }}

        <article class="{{post_class}}">

<div style="margin-bottom: 60px;margin-top: 20px;">
    <div id="mc_embed_signup" class="mc_embed_signup" style=""> 
        <form action="http://eatsy.us7.list-manage.com/subscribe/post?u=ed01cbcbb32aa86f232eb4854&amp;id=3c4fefee0d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" _lpchecked="1" style="background: rgb(239, 239, 250);text-align: center;height: 52px;">
            <div style="padding-bottom: 25px;">
                <p style="font-size: 1.4rem;margin: 0;display: inline-block;">
                Forma parte de nuestros lectores élite. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <div class="mc-field-group" style="display: inline-block;">
                    <a href="{{blog.url}}/lectores-elite/" target="_blank">
                        <input class="btn btn-danger enviar" value="Suscribirme" name="subscribe" id="mc-embedded-subscribe" style="display: inline-block;background: #6CC4E2;border-color: #6CC4E2;">
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

          <h3>Leer te hará mejor profesional</h3>
          <p>Los libros nos hacen fuertes intelectualmente, nos dan una mejor brújula para decidir y una perspectiva más equilibrada en cualquier situación.</p> 
          <p>Te invito a conocer mis diversos <b>análisis</b>, sobre libros de clase mundial, que están dirigiendo el futuro de la humanidad.</p>
          <style type="text/css" media="screen">
  .gr_custom_container_1419102277 {
    /* customize your Goodreads widget container here*/
border-radius: 10px;
padding: 10px 5px 30px 5px;
width: 100%;
  }

  .gr_custom_container_1419102277 a
  {
    text-decoration: none;
  }


  .gr_custom_container_1419102277 a:hover
  {
    color: #4091AE;
  }


  .gr_custom_container_1419102277 center
  {
    display:none;
  }

  .gr_custom_container_1419102277 br
  {
    display: none;
  }

  .gr_custom_header_1419102277 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid #166A87;
    width: 100%;
    text-align: left;
    font-size: 120%;
    color: #428bca;
    padding: 20px 0 30px !important;
    margin: 0 0 30px !important;
  }
  

  .gr_custom_each_container_1419102277 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin: 0px 0 !important;
    padding: 27px 0 0px !important;
    overflow: auto;
    
  }



  .gr_custom_book_container_1419102277 {
    /* customize your book covers here */
    overflow: hidden;
      float: left;
      margin-right: 20px;
      border: solid 4px white;
  }

  .gr_custom_book_container_1419102277 img
  {
    margin: 0 !important;
  }
  .gr_custom_author_1419102277 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1419102277 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1419102277 {
    /* customize your rating stars here */
    float: right;
  }
</style>

<script src="https://www.goodreads.com/review/custom_widget/8262869.%C2%BFQu%C3%A9%20estoy%20leyendo%20en%20este%20momento%3F?cover_position=left&cover_size=small&num_books=10&order=d&shelf=currently-reading&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1419102277&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>    

<h2 style="border-bottom: 1px solid #166A87;
width: 100%;
text-align: left;
font-size: 120%;
padding: 20px 0 30px !important;
margin: 0 0 30px !important;">Análisis y reflexiones<h2>


            {{#foreach posts}}
         <div class='post-holder post-tag'>
        
            {{#if @first}}
                <article class="{{post_class}} first">
            {{else}}
                {{#if @last}}
                    <article class="{{post_class}} last">
                {{else}}
                    <article class="{{post_class}}">
                {{/if}}
            {{/if}}
        
         <header class="post-header">                
                <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                <div class="post-meta"><i class="fa fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}} </time></div>


         </header>

        </article>
        <div class='post-after'></div>
    </div>

    {{/foreach}}

        </article>        
    </div>
</main>