{{!< default}}

{{#contentFor "meta"}}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{@blog.url}}" />
    <meta property="og:title" content="Miguel Nieva - Business Developer" />
    <meta property="og:site_name" content="{{@blog.title}}" />
    {{#if @blog.logo}}<meta property="og:image" content="{{@blog.logo}}" />{{/if}}
    <meta property="og:description" content="Reflexiones, ideas y opiniones sobre el ámbito del liderazgo, comunidades y negocios web."/>
    <meta property="fb:profile_id" content="mikenieva" />
    <meta property="fb:admins" content="mikenieva" />
{{/contentFor}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">

        {{! Navigation for Small Screen }}

        <div class="back-to-home">
            <a href="{{@blog.url}}"><i class="fa fa-long-arrow-left fa-2x"></i><h5>{{@blog.title}}</h5></a>
            
        </div> <!-- Small Screen Navigation End -->

   <div class='post-fixed-nav nav-tag'>
        {{#if @blog.logo}}<a class="blog-logo-left" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Logo" /></a>{{/if}}
        <h5>Miguel Nieva</h5>
        <h2>Business Developers</h2>     
        <hr>
        <div class="post-sidebar">
            <div class="tags">
        <a class="fn-item active" item_index="1" href="{{@blog.url}}/tag/liderar"><span class="glyphicon glyphicon-fire">&nbsp;&nbsp;</span>liderar</a>
        <a class="fn-item active" item_index="1" href="{{@blog.url}}/tag/administrar"><span class="glyphicon glyphicon-tasks">&nbsp;&nbsp;</span>Administrar</a>
        <a class="fn-item active" item_index="1" href="{{@blog.url}}/tag/negociar"><span class="glyphicon glyphicon-comment">&nbsp;&nbsp;</span>Negociar</a>
        <a class="fn-item active" item_index="1" href="{{@blog.url}}/tag/experiencias"><span class="glyphicon glyphicon-globe">&nbsp;&nbsp;</span>Experiencias</a>
        <a class="fn-item active" item_index="1" href="{{@blog.url}}/tag/libros"><span class="glyphicon glyphicon-book">&nbsp;&nbsp;</span>Libros</a>
    </div>
    <hr>
    <a class="fn-item active" item_index="1" href="{{@blog.url}}/lectores-elite"><span class="glyphicon glyphicon-envelope">&nbsp;&nbsp;</span>Lectores Élite</a>

        </div>

        {{! Social Menu }}
       <div class="footer-social-menu">
        <div class="footer-social-icons">
            <a href="http://facebook.com/miguelnieva.com" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="http://twitter.com/mikenieva" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="http://mx.linkedin.com/in/miguelnieva/es" rel=”author” target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
            <a href="http://google.com/+miguelnieva?rel=author" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
            <a href="http://github.com/miguelnieva" target="_blank"><i class="fa fa-github fa-2x"></i></a>
            <a href="http://instagram.com/mikenieva" rel=”author” target="_blank"><i class="fa fa-instagram fa-2x"></i></a>    
        </div> 
    </div>

    </div>

    {{! Each post will be output using this markup }}

    <div class='post-holder'>    
            
        {{! Everything inside the #post tags pulls data from the post }}

        <article class="{{post_class}}">  
            {{#foreach posts}}
    <div class='post-holder'>
        
            {{#if @first}}
                <article class="{{post_class}} first">
            {{else}}
                {{#if @last}}
                    <article class="{{post_class}} last">
                {{else}}
                    <article class="{{post_class}}">
                {{/if}}
            {{/if}}
        
         <header class="post-header">                
                <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                <div class="post-meta"><i class="fa fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}} </time>&nbsp;&nbsp;&nbsp; {{#if tags}} <span class="post-tags "> <i class="fa fa-tags"></i> {{tags separator=" | "}} {{/if}}</span></div>
         </header>

            <section class="post-excerpt">
            <p>{{excerpt characters="140"}} ... <a href="{{url}}" class="read-more">Leer más...</a></p>
         </section>

        </article>
        <div class='post-after'></div>
    </div>

    {{/foreach}}

        </article>        
    </div>
</main>